.color {
  cursor: pointer;
  aspect-ratio: 4/1;
  display: grid;
  justify-content: center;
  align-content: center;

  .color:hover {
    opacity:1;
  }

  &__name {
    font-size: var(--font-size-l);
    opacity: 1;
  }

  @include media(tabletAndUp) {
    aspect-ratio: 1/1;
    .color:hover &__name {
      opacity: 1;
      transition: .25s all ease-in-out;
    }

    &__name {
      opacity: 0;
      font-size: var(--font-size-xl);
    }
  }
}
