.filter-list {
  display: none;
  padding: 22px;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-xs);
  list-style: none;
  width: 100%;

  &--show {
    display: grid;
  }

  &__item {
    background-color: var(--color-bg-secondary);
    display: flex;
    padding: var(--space-xs);
    cursor: pointer;
  }

  &__item:hover {
    background-color: var(--color-bg-quaternary);
  }

  &__filter-btn {
    padding: 0.5rem;
    border-radius: 8px;
    // color: var(--color-text-muted);
    background-color: var(--color-bg-tertiary);
    cursor: pointer;
  }

  &__item--active{
    background-color: var(--color-bg-tertiary);
  }

  @include media(tabletAndUp) {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 50px; // using padding to shrink the length of the filter boxes
    justify-content: space-evenly;
    // position: sticky;
    // top: 0;


    &__filter-btn {
      display: none;
    }
  }
}
