header {
  position: sticky;
  top: 0;
  background-color: var(--color-primary-bg);

  // justify-content: space-between;
  // align-items: center;
  // padding: 1.5rem;

  @include media(tabletAndUp) {
    height: 100vh;
    overflow-y: auto;
    width: 300px;
  }
}

.header {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;

    @include media(tabletAndUp) {
      justify-content: center;
    }
  }

  &__title {
    font-weight: 500;
  }
}


// .header {
//   // background-color:  var(--color-primary-bg);

//   // color: var(--color-text-header);

//   @include media(tabletAndUp) {
//     flex-direction: column;
// }


// }
