// Mixins
@import "mixins/media";

// Configuration
@import "config/variables";
@import "config/reset";

// Components
@import "components/header";
@import "components/filterList";
@import "components/filter";
@import "components/color";
@import "components/colorDetails";
@import "components/swatch";



// Layouts
@import "layouts/app";

.black {
  color: black;
}

.white {
  color: white;
}
.white-link {
  color: white;
  background-color: #0000001a;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

main {
  flex: 1;
}

.colors-container {
  @include media(tabletAndUp) {
    display: grid;

    grid-template-columns: repeat(auto-fit,minmax(275px,1fr));
  }
}
